io/modismerge/modis_merge.tfw
io/modismerge/modis_merge.tif
io/modismerge/modis_merge.tif.aux.xml
io/modismerge/modis_merge.tif.ovr
io/modismerge/modis_merge.tif.vat.cpg
io/modismerge/modis_merge.tif.vat.dbf
io/modismerge/modis_merge.tif.vat.dbf.xml
io/modismerge/modis_merge.tif.xml
io/modismerge/modis_mergeCOG.tif
